//v3
html {
    --gray: #f36815;
    --gray-bg: rgba(0,0,0,0.025);
    --gray-text: #fac19f;
    --menu-text: #bbb;
    --body-color: #FDE8E5;
    --body-bg: #221d1d;
    --border-color: #ebebeb;
}

//v2
// html {
//     --gray: #f0dac5;
//     --gray-bg: rgba(0,0,0,0.025);
//     --gray-text: #f0dac5;
//     --menu-text: #bbb;
//     --body-color: #FDE8E5;
//     --body-bg: #6e2c39;//#5b132b;
//     --border-color: #ebebeb;
// }

//v1
// html {
//     --gray: #D75861;
//     --gray-bg: rgba(0,0,0,0.025);
//     --gray-text: #FE7E75;
//     --menu-text: #bbb;
//     --body-color: #FDE8E5;
//     --body-bg: #3a1e1e;
//     --border-color: #ebebeb;
// }

//original
//html{
// --gray: #777;
// --gray-bg: rgba(0,0,0,0.025);
// --gray-text: #666;
// --menu-text: #bbb;
// --body-color: #333;
// --body-bg: #fff;
// --border-color: #ebebeb;
//}
